<div class="m-24">
  <div class="max-w-md border border-solid rounded border-gray-300 p-2">
    <img class="rounded-full block mx-auto" src="https://en.gravatar.com/userimage/1886358/6fb39fd3ee0085147a63cbdcc3511cf3.jpg?size=200">

    <h1 class="text-xl text-center text-gray-600 my-2">Didik Wicaksono</h1>

    <% @links.each do |link| %>
      <%= link_to link[0], link[1], class: "block my-2 p-4 text-center border border-solid rounded border-gray-300 text-gray-500" %>
    <% end %>
  </div>
</div>
